# Project exclude paths
/pingyougoucommon/target/
/pingyougoudao/target/
/pingyougoumanagerweb/target/
/pingyougoupojo/target/
/pingyougousellergoodsinterface/target/
/pingyougousellergoodsservice/target/
/pingyougoushopweb/target/
/pinyougoucartinterface/target/
/pinyougoucartservice/target/
/pinyougoucartweb/target/
/pinyougoucontentinterface/target/
/pinyougoucontentservice/target/
/pinyougouorderinterface/target/
/pinyougouorderservice/target/
/pinyougoupageinterface/target/
/pinyougoupageservice/target/
/pinyougoupageweb/target/
/pinyougoupayinterface/target/
/pinyougoupayservice/target/
/pinyougouportalweb/target/
/pinyougousearchinterface/target/
/pinyougousearchservice/target/
/pinyougousearchweb/target/
/pinyougousolrutil/target/
/pinyougoutaskservice/target/
/pinyougouuserinterface/target/
/pinyougouuserservice/target/
/pinyougouuserweb/target/